@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');
$color-background: #DDB892;
$color-bc-inputs: #E6CCB2;
$color-border-inputs: #8D563A;
$color-bc-btn: #7A3F25;
$color-border-form: #650002;
$color-border-signos: #7E4329;
$color-border-btn: 3px solid rgba(122, 63, 37, 0.65);
$shadow-btn: 4px 4px 4px rgba(0, 0, 0, 0.25);

*{
    box-sizing: border-box;
}
.container-menu{
    background-color: $color-bc-inputs;
    display: grid;
    grid-template-areas: 
    "imagen btnplus btnminus" 
    "parr parr parr";
    width: 210px;
    height: 116px;
    p{
        font-family: 'Hind Madurai', sans-serif;
        font-size: 20px;
    }
    
    align-items: center;
    justify-items: center;
    border-radius: 20px;
    padding: 10px;
}

.container-img {
    grid-area: imagen;
    background-color: $color-background;
    display:flex;
    align-items: center;
    img{
        margin: auto;
        height: 50px;
        width: 50px;
    }
    border-radius: 10px;
    height: 60px;
    width: 50px;
}

.add {
    grid-area: btnplus;
    background-color: rgba(122, 63, 37, 0.65);
    height: 60px;
    width: 50px;
    border-radius: 14px;
    border: $color-border-btn;
    box-shadow: $shadow-btn;
    font-family: 'Rum Raisin', sans-serif;
    font-size: 40px;
    color: $color-background;
    -webkit-text-stroke: 2px $color-border-signos;
}

.sust {
    grid-area: btnminus;
    background-color: rgba(122, 63, 37, 0.35);
    height: 60px;
    width: 50px;
    border-radius: 14px;
    border: $color-border-btn;
    box-shadow: $shadow-btn;
    font-family: 'Rum Raisin', sans-serif;
    font-size: 40px;
    color: $color-background;
    -webkit-text-stroke: 2px $color-border-signos;
}

.name-text {
    grid-area: parr;
    margin:0;
}

.sust:active, .add:active {
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(3px);
  }