@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');

$color-background: #DFDBDB;
$color-text: #DE333F;
$color-logout: #FFE27A;
$color-breakfast: #7A3F25;
$color-text-breakfast: #E6CCB2;


.imgs {
    width: 70px;
    height: 70px;;
}
.drinks{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-end;
    margin: 13% 8%;
}
.btns-food{
    
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
p{
    
}
.client-name{
    background-color: $color-background;
    border-radius: 10px;
    border: none;
}

