@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');

$color-background: #DFDBDB;
$color-text: #DE333F;
$color-logout: #FFE27A;
$color-breakfast: #7A3F25;
$color-text-breakfast: #E6CCB2;


