@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');

$color-background: #DFDBDB;
$color-text: #DE333F;
$color-logout: #FFE27A;
$color-breakfast: #7A3F25;
$color-text-breakfast: #E6CCB2;


.btns-food{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.components{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0px 15px ;
    gap: 20px;
}
p{
    font-size: 15px;
}

.drinks-1, .drinks-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    p{
      font-family: 'Rum Raisin', sans-serif;
      font-size: 28px;
      margin:0;
    }
}

.sandwiches{
    
    display: flex;
    flex-direction: column;
    // flex-wrap: nowrap;
    justify-content: center;
    align-items: start;
    text-align: center;
    gap: 20px;
    p {
      font-family: "Rum Raisin", sans-serif;
      font-size: 28px;
      margin: auto;
    }
     
       
}
.sandwichito{
    p{
      font-family: 'Hind Madurai', sans-serif;
      font-size: 20px;
      margin:0;
    }
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 430px;
    gap: 10px;
    
}
   
