@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');

$color-background: #DFDBDB;
$color-text: #DE333F;
$color-background-comanda: #CAD6E3;
$shadow-btn: 4px 4px 4px rgba(0, 0, 0, 0.25);

.comanda {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    p {
        font-family: "Rum Raisin", sans-serif;
        font-size: 28px;
        margin: 0;
    }
    .btn-comanda {
        background-color: $color-background-comanda;
        width: 130px;
        height: 40px;
        font-family: 'Rum Raisin', sans-serif;
        font-size: 18px;
        border:none;
        border-radius: 20px;
        text-align: center;
        margin: auto;
        box-shadow: $shadow-btn;
    }
    .btn-cancelar {
        @extend .btn-comanda;
        background-color:rgba(222, 51, 62, 0.842);
        color: white;
        font-size: 20px;
    }
    .btn-comanda:active, .btn-cancelar:active {
        box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
        transform: translateY(3px);
    }
}
.btns-comanda{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin:auto;
}
.title-comanda {
    text-align: left;
    text-indent: 110px;
}
#client-name {
    width: 307px;
    height: 43px;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 20px;
    border-radius: 20px;
    background-color: $color-background;
    text-align: center;
    border: none;
}
#total-products {
    display: flex;
    background-color: $color-background;
    border-radius: 15px;
    width: 307px;
    height: 362px;
    flex-direction: column;
}
table {
    width: 90%;
    
}
th{
    color:$color-text;
    font-family:'Hind Madurai', sans-serif;
    font-size: 14px;
    text-align: center;
}
.total {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 18px;
    text-align: center;
}
