$color-btn-letra: #E6CCB2;
$color-borde-btn: rgba(122, 63, 37, 0.81);
$shadow-btn: 4px 4px 4px rgba(0, 0, 0, 0.25);

*{
    box-sizing: border-box;
}

.header{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    p {
        font-family: "Rum Raisin", sans-serif;
        font-size: 28px;
        margin: auto;
      }
}
.cont-ntf {
    background-image: url('https://i.ibb.co/JFLv6LD/notification.png');
    width: 90px;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .p-ntf{
        text-align: center;
        margin: 18% 0;
        font-size: 45px;
        -webkit-text-stroke: 3px black;
        color:white;
    }
}
.btn-breakfast{
    width: 256px;
    height: 80px;
    border-radius: 20px;
    border: 5px solid $color-borde-btn;
    background-color: $color-borde-btn;
    font-family: 'Rum Raisin', sans-serif;
    font-size: 36px;
    margin:0;
    color: $color-btn-letra;
    box-shadow: $shadow-btn;
}

.btn-lunch{
    width: 256px;
    height: 80px;
    border-radius: 20px;
    border:none;
    background-color: $color-btn-letra;
    font-family: 'Rum Raisin', sans-serif;
    font-size: 36px;
    margin:0;
    color: #7A3F25;
    box-shadow: $shadow-btn;
}
.btn-lunch:active, .btn-logout:active, .btn-breakfast:active {
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(3px);
}
.btn-logout{
    width: 145px;
    height: 40px;
    border-radius: 10px;
    border:none;
    background-color: #FFE27A;
    box-shadow: $shadow-btn;
    font-family: 'Rum Raisin', sans-serif;
    font-size: 20px;
    
}

.ntf{
    width: 100px;
    height: 100px;
}
.user{
    width: 90px;
    height: 90px;
}
.vista-perm {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2% 2%;
}


