@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');

$color-background: #DDB892;
$color-bc-inputs: #E6CCB2;
$color-border-inputs: #8D563A;
$color-bc-btn: #7A3F25;
$color-border-form: #650002;

body{
    background-color: $color-background;
}
#container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10% 5%;
}

img {
    width: 400px;
}

@for $i from 1 through 2 {
    .input-#{$i} 
    {
        border-radius: 10px;
        background-color: $color-bc-inputs;
        border: 1px solid $color-border-inputs;
        margin: 4px auto 40px;
        font-family: 'Hind Madurai', sans-serif;
        text-align: center;
        width: 80%;
        height: 3em;
       

    }
}

@for $i from 1 through 2 {
    .label-#{$i} 
    {
        font-family: 'Rum Raisin', sans-serif;
        font-size: 36px;
        margin: 0;
        padding-left: 16%;
        
    }
}

form {
    border: 1px solid $color-border-form;
    width: 468px;
    height: 536px;
    border-radius: 50px;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.btn {
    border-radius: 10px;
    width: 60%;
    height: 2em;
    background-color: $color-bc-btn;
    border:none;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Rum Raisin', sans-serif;
    font-size: 28px;
    color: $color-bc-inputs;
    
}

p{
    font-family: 'Hind Madurai', sans-serif;
    font-size: 15px;
    text-align: center;
}



